html{
    background: url(images/87zo.gif) no-repeat center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    background-position: center;
}
body{
    font-size: 22px;
    line-height: 32px;
    color: #ffffff;
    font-family: 'Open Sans',sans-serif;
}
nav{
    background-color: #eb4200;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}
nav ul li{
    display: inline-block;
    background-color: #eb4200;
}
nav a{
    display: block;
    padding: 0 10px;
    color: #fff;
    line-height: 60px;
    font-size: 20px;
    text-decoration: none;
}
/* Hide Dropdown by Default*/
nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
}
/* hover */
nav a:hover{
    background-color: #000000;
}
/* Display Dropdown on Hover */
nav ul li:hover > ul {
    display: inherit;
}
/* Fisrt Tier Dropdown */
nav ul ul li{
    width: 170px;
    float: none;
    display: list-item;
    position: relative;

}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 170px;
}


table#about {
    backdrop-filter: blur(50px);/* bg bkur*/
}
/* Style buttons */
.btn {
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: rgb(16, 55, 174);
  }
  /*social media icons*/
  .fa:hover{
    opacity: 0.9;
  }
  .fa-linkedin{
    background: #007bb5;
    color: white;
  }
  .fa-instagram{
    background: rgb(226, 7, 255);
    color: white;
  }
  .fa-github{
    background: rgb(7, 69, 86);
    color: white;
  }
  .fa{
    padding: 20px;
    font-size: 40px;
    width: 60px;
    text-decoration: none;
    margin: 5px 80px;
  }
 