<html>
    <head>

    </head>
    <body>
        
      
          <div class="content">
            <div class="waviy">
				<span style="--i:1">
				  <h2>E</h2>
				</span>
				<span style="--i:2">
				  <h2>V</h2>
				</span>
				<span style="--i:3">
				  <h2>E</h2>
				</span>
				<span style="--i:4">
				  <h2>N</h2>
				</span>
				<span style="--i:5">
				  <h2>-</h2>
				</span>
				<span style="--i:6">
				  <h2>N</h2>
				</span>
                <span style="--i:7">
				  <h2>U</h2>
				</span>
                <span style="--i:8">
                    <h2>M</h2>
                  </span>
                <span style="--i:9">
				  <h2>B</h2>
				</span>
                <span style="--i:10">
                    <h2>E</h2>
                  </span>
                  <span style="--i:11">
                    <h2>R</h2>
                  </span>
                  <span style="--i:12">
                    <h2>S</h2>
                  </span>
			</div>
        
          </div>
          
    </body>
</html>

<div class="main-div main-div1">
   <li *ngFor="let num of evenNumbers">{{ num }}</li>
  </div>