<html>
    <head>
        <title> Routing</title>
    </head>
    <body>
        <video autoplay muted loop id="myVideo" >
            <source src="vecteezy_3d-rendering-seamless-loop-motion-of-sci-fi-tunnel-with-grid-floor_3340904.mov" type="video/mp4">
            Your browser does not support HTML5 video.
          </video>
<div class="content">
    <p>Routing/Navigation Example<br></p>
<a href="#" class="animated-button1" routerLink="/11">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Prac 11
  </a>
  <a href="#" class="animated-button2" routerLink="/12">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Prac 12
  </a>
<router-outlet></router-outlet>
</div>
    </body>
</html>