<div class="container">

    <div class="waviy">
        <span style="--i:1">
        <h1>T</h1>
      </span>
      <span style="--i:2">
        <h1>O</h1>
      </span>
      <span style="--i:3">
        <h1>-</h1>
      </span>
      <span style="--i:4">
        <h1>D</h1>
      </span>
      <span style="--i:5">
        <h1>O</h1>
      </span>
      <span style="--i:14">
        <h1>⟺</h1>
      </span>
      <span style="--i:6">
        <h1>A</h1>
      </span>
      <span style="--i:7">
        <h1>P</h1>
      </span>
      <span style="--i:8">
        <h1>P</h1>
      </span>
      <span style="--i:9">
        <h1>L</h1>
      </span>
      <span style="--i:10">
        <h1>I</h1>
      </span>
      <span style="--i:11">
        <h1>C</h1>
      </span>
      <span style="--i:12">
        <h1>A</h1>
      </span>
      <span style="--i:13">
        <h1>T</h1>
      </span>
      <span style="--i:14">
        <h1>I</h1>
      </span>
      <span style="--i:15">
        <h1>O</h1>
      </span>
      <span style="--i:16">
        <h1>N</h1>
      </span>
    </div>

    <hr>
    <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
        <div class="form-group">
            <label for="task">
                <div class="waviy">
            <span style="--i:1">
                <h2>T</h2>
              </span>
              <span style="--i:2">
                <h2>a</h2>
              </span>
              <span style="--i:3">
                <h2>s</h2>
              </span>
              <span style="--i:4">
                <h2>k</h2>
              </span>
            </div>

            </label>
             
            <input type="text" class="form-control" id="task" placeholder="Enter task" ngModel name="task" required>
            <small *ngIf="taskForm.invalid && taskForm.dirty" id="errorMessage" class="form-text text-danger">Required
                field</small>
        </div>

        <button [disabled]="taskForm.invalid" id="submitButton" type="submit" class="btn btn-primary" class="glow-on-hover">Submit</button>
         
    </form>

    <hr>

    <table class="table">
        <thead>
            <tr>
                <th scope="col"><p class="animate-charcter">Task</p></th>
                <th scope="col"><p class="animate-charcter">Completed</p></th>
                <th scope="col"><p class="animate-charcter">Delete</p></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of taskArray; index as i">
                <td class="taskforce">{{t.taskName}}</td>
                <td>
                    <!-- Check Box Animation -->
                    <div class="switch_box box_4">
                        <div class="input_wrapper">
                            <input type="checkbox" class="switch_4">
                            <svg class="is_checked" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 426.67 426.67">
                                <path d="M153.504 366.84c-8.657 0-17.323-3.303-23.927-9.912L9.914 237.265c-13.218-13.218-13.218-34.645 0-47.863 13.218-13.218 34.645-13.218 47.863 0l95.727 95.727 215.39-215.387c13.218-13.214 34.65-13.218 47.86 0 13.22 13.218 13.22 34.65 0 47.863L177.435 356.928c-6.61 6.605-15.27 9.91-23.932 9.91z"/>
                            </svg>
                            <svg class="is_unchecked" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 212.982 212.982">
                                <path d="M131.804 106.49l75.936-75.935c6.99-6.99 6.99-18.323 0-25.312-6.99-6.99-18.322-6.99-25.312 0L106.49 81.18 30.555 5.242c-6.99-6.99-18.322-6.99-25.312 0-6.99 6.99-6.99 18.323 0 25.312L81.18 106.49 5.24 182.427c-6.99 6.99-6.99 18.323 0 25.312 6.99 6.99 18.322 6.99 25.312 0L106.49 131.8l75.938 75.937c6.99 6.99 18.322 6.99 25.312 0 6.99-6.99 6.99-18.323 0-25.313l-75.936-75.936z" fill-rule="evenodd" clip-rule="evenodd"/>
                            </svg>
                        </div>
                    </div>
                    <!-- Check Box Animation -->
                </td>
                <td><button class="btn btn-danger btn-sm" (click)="onDelete(i)">Delete</button></td>
            </tr>

        </tbody>
    </table>
</div>